page-profile {

}

form{
  width: 90%;
  margin:50px auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

  button{
    width: 90%;
    margin-top: 10px;
  }

  h2{
    color:#333;
    padding-top: 20px;
  }
}
